$axent: #2196f3;
$dark-axent: #188ce8;
$main: #2f303a;
$section: #f5f4fa;
$background: #ffffff;
$title: #212121;
$text: #757575;
$firstlogo: #000000;
$maintext: #ffffff;
$contacts: #ffffff99;
$border: #eeeeee;
$heder-shadow: #ececec;
$logos: #afb1b8;
$buttons: #ffffff1a;
$text-backround: #2f303acc;
$modal: #0000001a;
$modal-border: #21212133;
$footer-border: #ffffff4d;
$panel: #2196f3e6;