.features {
    padding-top: 94px;
    padding-bottom: 94px;
}
.features-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
}
.features-item {
    width: 270px;
    padding-left: 0;
}
.features-item::before {
    display: block;
    content: "";
    width: 270px;
    height: 120px;
    background-color: var(--section);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.features-item:first-child::before {
    background-image: url(../img/antenna.svg);
}
.features-item:nth-child(2)::before {
    background-image: url(../img/clock.svg);
}
.features-item:nth-child(3)::before {
    background-image: url(../img/diagram.svg);
}
.features-item:last-child::before {
    background-image: url(../img/astronaut.svg);
}
.features-text {
    line-height: 1.71;
    color: var(--text);
    font-size: 14px;
}
.features-title {
    font-size: 14px;
    margin-bottom: 10px;
}