.mainbanner {
    padding: 200px 0;
    background-image: url("../img/banner.png");
    background-color: var(--main);
}
.mainbanner-title {
    color: var(--maintext);
    font-weight: 900;
    letter-spacing: 0.06em;
    font-size: 44px;
    width: 696px;
    display: flex;
    justify-self: center;
    text-align: center;
    margin-bottom: 30px;
}
.mainbanner-button {
    background-color: var(--axent);
    color: var(--maintext);
    border: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 0.06em;
    display: flex;
    justify-self: center;
    padding: 10px 32px;
    line-height: 1.88;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mainbanner-button:hover,
.mainbanner-button:focus {
    background-color: var(--dark-axent);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}