a {
    color: var(--firstlogo);
    text-decoration: none;
}
ul {
    list-style: none;
}
body {
    font-family: "Roboto", sans-serif;
    line-height: 1.17;
    letter-spacing: 0.03em;
    min-width: max-content;
}
button {
    font-family: "Roboto", sans-serif;
}
.main {
    border-top: solid 1px var(--heder-shadow);
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}